<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать сеанс</title>
</head>
<body>
<div id="content">

    <h2>Создать сеанс</h2>

    <form th:action="@{'/admin/film-session'}" method="post">

        <input type="hidden" name="movieId" th:value="${movieId}">

        <label for="cinema">В каком кинотеатре:
            <select name="cinema" id="cinema" onchange="changeCinemaHalls()">
                <option hidden selected value=""></option>
                <option th:each="cinema : ${cinemas}"
                        th:text="${cinema.name}"
                        th:value="${cinema.id}">Cinema name
                </option>
            </select>
        </label><br><br>

        <label for="cinemaHallId">Выберите кинозал:
            <select name="cinemaHallId" id="cinemaHallId">
                <option hidden selected value=""></option>
            </select>
        </label><br><br>

        <label for="date">Дата:
            <input type="date" name="date" id="date">
        </label><br><br>

        <label for="time">Время:
            <input type="time" name="beginSession" id="time">
        </label><br><br>

        <label for="ticketCost">Стоимость билета:
            <input type="number" name="ticketCost" id="ticketCost">
        </label><br><br><br>

        <button type="submit">Создать сеанс</button>
    </form>
</div>

<script>
    let cache = new Map();
    const urlPart = "http://localhost:8080/cinema-halls/by-cinema-id/";

    function changeCinemaHalls() {
        let selectedCinemaTag = document.getElementById("cinema");
        let selectedValue = selectedCinemaTag.options[selectedCinemaTag.selectedIndex].value;
        let cinemaHall = document.getElementById("cinemaHallId").options;
        let url = urlPart + selectedValue;

        cinemaHall.length = 0;

        if (!cache.has(selectedValue)) {
            fetch(url)
                .then((response) => response.json())
                .then(halls => {
                        halls.forEach(zal =>
                            cinemaHall.add(
                                new Option("Зал " + zal.number + " " + zal.size, zal.id)
                            )
                        );
                        cache.set(selectedValue, halls);
                    }
                );
        } else {
            cache.get(selectedValue).forEach(zal =>
                cinemaHall.add(
                    new Option("Зал " + zal.number + " " + zal.size, zal.id)
                )
            );
        }
    }
</script>
</body>
</html>